#title{
  color: blue;
}

#listItemOne{
  color: white;
  background-color: red
}

#listItemTwo{
  color: white;
  text-shadow: 1px 1px black;
}

#listItemThree{
  color: white;
  background-color: blue
}
