.container {
  width: auto;
}

section, aside {
  /* margin: 10px; */
  /* margin: 1.858736059%; */
  margin: 1%;
  background-color: coral;
}

section {
  float: left;
  /* width: 340px; */
  /* width: 63.197026%; */
  width: 64%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  transition: 1s;
  /* moving transition time to img:hover will "snap" back */
}

img:hover {
  /* transition: 1s; */
  /* moving transition time to img will "roll" back */
  -webkit-transform: scale(.73) skew(-20deg, -20deg) rotateZ(180deg);
    -moz-transform: scale(.73) skew(-20deg, -20deg) rotateZ(180deg);
      -o-transform: scale(.73) skew(-20deg, -20deg) rotateZ(180deg);
  transform: scale(.73) skew(-20deg, -20deg) rotateZ(180deg);
}

aside {
  float: right;
  /* width: 158px; */
  /* width: 29.3680297%; */
  width: 32%;
}

@media all and (max-width: 420px) {
  section, aside {
    float: none;
    width: auto;
  }
}