.container {
  background-color: #222;
  color: #fff;
}

header {
  font-size: 25px;
  padding: 10px 30px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.8s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4CAF50;
  color: #000;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #4CAF50;
  color: white;
} */

.stage {
  position: relative;
  margin-top: 20px;
  height: 170px;
  width: 500px;
  background-color: teal;
}

.ball2,
.ball {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgb(200,133,0);
  border: none;
  border-radius: 50%;
}

.stage:hover .ball {
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  /* animation-delay: .5s; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 210px;
    top: 130px;
  }
  100% {
    left: 460px;
    top: 0;
  }
}

/* .stage:hover .ball2 {
  animation-name: dribble;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
} */
/* animation-delay: .5s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */



/* @keyframes dribble {
  0% {
    left: 0;
    top: 0;
  }
  9% {
    left: 42px;
    top: 130px;
  }
  18% {
    left: 84px;
    top: 99;
  }
  27% {
    left: 126px;
    top: 80;
  }
  36% {
    left: 168px;
    top: 120;
  }
  45% {
    left: 210px;
    top: 0;
  }
  54% {
    left: 252px;
    top: 0;
  }
  63% {
    left: 294px;
    top: 0;
  }
  72% {
    left: 336px;
    top: 0;
  }
  81% {
    left: 378px;
    top: 0;
  }
  90% {
    left: 420px;
    top: 0;
  }
  100% {
    left: 460px;
    top: 0;
  }
} */
